*.DS_Store
/node_modules
/web/node_modules
/admin/node_modules
/web/dist
/admin/dist
/.env
/.env.backup
/.env.production
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.fleet
/.cursor
/.zcode
/.ref
/installed.lock
/upgrading.lock
/upgrade.zip
/data
/runtime
CLAUDE.md
/.claude
